.linkHoverEffect {
    position: relative;
}

.linkHoverEffect::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #7000FF;
    transition: width 0.5s;
}

.linkHoverEffect:hover::after {
    width: 100%;
}



