.gm-style-iw,
.gm-style-iw-c {
    width: auto;
    height: auto;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gm-ui-hover-effect {
    display: none !important;
}
